%h1 Food Trucks

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Name
      %th Last Update
  %tbody
    - @food_trucks.each do |food_truck|
      %tr
        %td
          = link_to food_truck.name, edit_admin_food_truck_path(food_truck)
        %td
          = food_truck.updated_at.strftime('%b %d %Y, %H:%M')

%p
  = link_to 'New Food truck', new_admin_food_truck_path
