%h1 Users

%p
  = link_to new_admin_user_path do
    %span.glyphicon.glyphicon-plus
    New User

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Email
      %th Last Login
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.email, edit_admin_user_path(user)
        %td= user.last_sign_in_at

