<div class="food_truck_popup">
    <h3>{{truck.name}}</h3>
    <p ng-if="truck.description">{{truck.description}}</p>
    <p>
      <strong>Hours Today:</strong>
      <span ng-if="truck.location.hours">{{truck.location.hours}}</span>
    </p>
    <div class="social_badges">
        <!-- TODO: create social badges directive -->
        <span ng-if="truck.twitter_username"><a href="{{truck.twitter_username}}">{{truck.twitter_username}}</a></span><br />
        <span ng-if="truck.facebook_username"><a href="{{truck.facebook_username}}">{{truck.facebook_username}}</a></span>
    </div>
</div>
