%input{"ng-model" => "search_text", placeholder: "Search", type: "text"}/
%div{"ng-repeat" => "distance in food_trucks.distances"}
  %h4 {{distance.display_text}}
  %ul
    %li{"ng-repeat" => "truck in food_trucks.active_trucks | within_range:distance.min:distance.max | filter:search_text"}
      %a{href: "#", "ng-click" => "food_trucks.show_truck(truck)"} {{truck.name}}
